# === General ===
.DS_Store
*.pem
*.log
*.tsbuildinfo

# === IDEs ===
.idea/
.vscode/

# === Node ===
node_modules/
**/node_modules/

# === Yarn / pnpm / npm ===
.pnp
.pnp.js
.yarn/install-state.gz
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# === Environment Variables ===
.env
.env.*
!.env.example
**/.env
**/.env.*

# === Next.js (Frontend) ===
**/.next/
**/out/

# === Build / Dist ===
**/build/
**/dist/

# === Coverage / Test Artifacts ===
coverage/
test-results/
playwright-report/
blob-report/
playwright/.cache/
**/test-results/
**/playwright-report/

# === Media ===
/media

# === Vercel ===
.vercel

# === TypeScript ===
next-env.d.ts